# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Script\human_digita\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
